<div class="messages-container">
  <% if(locals.messages?.length > 0) { %>
    <% messages.forEach(mess => { %>
      <%- include("message", {message: mess.msg ? mess.msg : mess}) %>
  <%})} %>
</div>