<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
</head>
<body>
    <h1>Hi, <%= user.username %></h1>
    <h2>POSTS</h2>
    <div class="posts-container">
      <% if(locals.posts) { %>
      <% posts.forEach(post => { %>
        <%- include("partials/post", {post: post}) %>
      <% }); %>
      <% } else { %>
        <p>Looks like there are no posts yet, be first to create one</p>
      <% } %>
    </div>
</body>
</html>