<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>New Post</title>
</head>
<body>
  <%- include("partials/messagesContainer", {messages: errorMessages}) %>
  <main>
    <form action="/posts/new" method="post">
      <div class="field">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" placeholder="Enter post title">
      </div>
      <div class="field">
        <label for="title">What's in your mind?</label>
        <textarea name="text" id="text" placeholder="Enter whatever you want"></textarea>
      </div>
      <button type="submit">Post</button>
    </form> 
  </main>
</body>
</html>