<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Sign In</title>
</head>
<body>
  <%- include("partials/messagesContainer", {messages: errorMessages}) %>
  <main>
    <h1>Sign In</h1>
    <form action="/signin" method="post">
      <div class="field">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Enter your username">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter your password">
      </div>
      <button type="submit">Sign in</button>
      <br>
      <a href="/signup">Don't have an accout? Sign-up</a>
    </form>
  </main>
</body>
</html>